@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-11-16 16:26:20
 * @version $入驻合作品牌$
 */
body{
	background-color: #f4f4f4;
}
.section_cooperation__mid{
	width: 1080px;
	height:auto;
	margin:0 auto;
	background-color: #fff;
	padding:24px 60px 100px;
}

.cooperation__item{
	width: 128px;
	height:128px;
	padding:15px;
	border:1px solid #dcdcdc;
	float: left;
	margin-bottom: 20px;
	margin-right: 24px;
}
.cooperation__item:nth-child(6n){
	margin-right: 0px;
}
.cooperation__item img{
	width: 100%;
	height:auto;
	display: block;

}